ion-tab-button{
  --color: #272525;
  --color-selected: #f4f2fa;
  --background:rgb(238, 199, 205);
}

ion-title{
  text-align: left;
  background-color:white;
  color: black;
  padding-inline-start: 5px;
}

