<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-5 class="productCard" (click)="getBirthdayData()">
        <ion-row>
          <ion-col> <img src="assets/gift.png" width="60%" class="photos2"></ion-col>
          <ion-col> <img src="assets/flag.png" width="60%" class="photos2"></ion-col>
        </ion-row>
        <ion-col>
          <p class="text">Birthday</p>
        </ion-col>
      </ion-col>
      <ion-col col-5 class="productCard" (click)="getCuteData()">
        <ion-row>
          <ion-col> <img src="assets/panda.png" width="60%" class="photos2"></ion-col>
          <ion-col> <img src="assets/flag.png" width="60%" class="photos2"></ion-col>
        </ion-row>
        <ion-col>
          <p class="text">Cute</p>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 class="productCard">
        <ion-row>
          <ion-col> <img src="assets/quotes.png" width="60%" class="photos2"></ion-col>
          <ion-col> <img src="assets/flag.png" width="60%" class="photos2"></ion-col>
        </ion-row>
        <ion-col>
          <p class="text">Diwali</p>
        </ion-col>
      </ion-col>
      <ion-col col-5 class="productCard">
        <ion-row>
          <ion-col> <img src="assets/sunset.png" width="60%" class="photos2"></ion-col>
          <ion-col> <img src="assets/flag.png" width="60%" class="photos2"></ion-col>
        </ion-row>
        <ion-col>
          <p class="text">Good Day</p>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 class="productCard">
        <ion-row>
          <ion-col> <img src="assets/gift.png" width="60%" class="photos2"></ion-col>
          <ion-col> <img src="assets/flag.png" width="60%" class="photos2"></ion-col>
        </ion-row>
        <ion-col>
          <p class="text">Good Morning</p>
        </ion-col>
      </ion-col>
      <ion-col col-5 class="productCard">
        <ion-row>
          <ion-col> <img src="assets/love1.png" width="60%" class="photos2"></ion-col>
          <ion-col> <img src="assets/flag.png" width="60%" class="photos2"></ion-col>
        </ion-row>
        <ion-col>
          <p class="text">Love</p>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
