ion-grid{
  color: black;
}
.productCard {
  border-radius: 20px;
  background-color: #dbe6f8;
  margin: 6%;

}
.photos2{
  margin-left: 20%;
  margin-top: 25%;
  margin-bottom: -50%;
}
.text{
  margin-left: 12%;
}
