ion-title {
  text-align: right;
  font-size: 22px;
  color: rgb(250, 244, 244);
  padding-right: 7%;
}

ion-header {
  background-color: white;
}

ion-grid {
  color: black;
}

.heading {
  text-align: right;
  margin-bottom: 5%;
  font-size: 20px;
}
.productCard {
  border-radius: 20px;
  background-color: #dbe6f8;
  margin-bottom: 10%;
}

.photos {
  margin-left: 8%;
  margin-right: 8%;
}
.paddingproduct {
  padding: 25px 5px 5px 5px;
}
.text {
  color: black;
  padding: 3px;
}
.text_main {
  color: black;
}
.photos2 {
  margin-top: 2px;
}
